!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Closed Beta Sample App
    %p
      You are invited to sign up for closed-beta-app.com
      %br/
    %p
      To signup for the site, just follow this link: #{@url}
    %p Thanks for joining and have a great day!
